body {
    padding-top: 40px;
}

[class*="col-"],
footer {
    background-color: lightgreen;
    border: 2px solid black;
    border-radius: 6px;
    line-height: 40px;
    text-align: center;
    margin-bottom: 20px;
    
}
